/* main.css */

/* Global Styles */
body {
  margin: 0;
  background: linear-gradient(
    180deg,
    rgb(117, 81, 194),
    rgb(255, 255, 255)
  ); /* Gradients for the whole page */
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Arrange elements vertically */
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 1200px; /* Make sure content doesn’t stretch too wide */
  padding: 20px;
  margin-top: 80px; /* To make space for the header */
  transition: margin-top 0.3s; /* Smooth transition for top margin */
}

/* Header Bar with Buttons */
.header-bar {
  width: 100%;
  background-color: #1a1a1a;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-bar button {
  margin-right: 20px; /* Spacing between buttons */
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #646cff;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

.header-bar button:hover {
  border-color: #4c4db2;
}

.header-bar button:focus,
.header-bar button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* List styles */
ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

/* Link Styles */
a {
  font-weight: 800;
  text-decoration: none;
}

/* Custom Styles for Authenticator */
.amplify-authenticator {
  background: rgba(255, 255, 255, 0.9); /* Background for Authenticator */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow for Authenticator */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px; /* Limit the width */
  width: 100%;
}

.amplify-authenticator .amplify-form-section {
  margin-bottom: 20px;
}

.amplify-authenticator .amplify-button {
  background-color: #646cff; /* Button color */
  color: white;
  font-weight: bold;
}

.amplify-authenticator .amplify-button:hover {
  background-color: #4c4db2; /* Darken on hover */
}

.amplify-authenticator .amplify-button:focus {
  outline: none;
  box-shadow: 0 0 5px 3px rgba(100, 108, 255, 0.5); /* Focus effect */
}
